.link__container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    border: 1px dotted;
    padding: 5%;
    overflow: hidden;
}


.link__description{
    margin-left: 15px;
}

.link__description > a {
    text-decoration: none;
    font-size: medium;
}

